/* Argon pink: #ec38bc */

/* ---------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fdeff9;
    color: #03001e;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

    overflow-x: hidden;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* -------------------------------------HEADINGS------------------------------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fdeff9;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin: 30px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #ec38bc;
    content: ' ';
    width: 25%;
    margin: 30px auto 0 auto;
}

h3 {
    font-size: 100%;
    margin-bottom: 15px;
}

/* ----------------------------------PARAGRAPHS-------------------------------------- */

.long-copy {
    line-height: 140%;
    width: 64%;
    margin-left: 18%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------------------------------------ICONS----------------------------------------- */

.icon-big {
    font-size: 300%;
    display: block;
    color: #7303c0;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #dc15a7;
    font-size: 120%;
    margin-right: 5px;

    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* -----------------------------------LINKS------------------------------------------ */

a:link,
a:visited {
    color: #7303c0;
    text-decoration: none;
    padding: 2px;
    border-bottom: 1px solid #7303c0;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #ec38bc;
    border-bottom: 1px solid transparent;
}

/* -----------------------------------BUTTONS---------------------------------------- */

.btn:link,
.btn:visited,
input[type='submit'] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
    background-color: #ec38bc;
    border: 1px solid #ec38bc;
    color: #fdeff9;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #ec38bc;
    color: #ec38bc;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
    background-color: #dc15a7;
}

.btn-full:hover,
.btn-full:active,
input[type='submit']:hover,
input[type='submit']:active {
    border: 1px solid #dc15a7;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #dc15a7;
    color: #fdeff9;
}

/* ---------------------------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------------------------- */

header {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.8)),
            to(rgba(45, 1, 75, 0.8))
        ),
        url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(45, 1, 75, 0.8)),
        url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 30px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fdeff9;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #ec38bc;
}

/* ---------------------------------------------------------------------------------- */
/* FEATURES */
/* ---------------------------------------------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 40px;
}

/* ---------------------------------------------------------------------------------- */
/* MEALS */
/* ---------------------------------------------------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #03001e;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* ---------------------------------------------------------------------------------- */
/* HOW IT WORKS */
/* ---------------------------------------------------------------------------------- */

.section-steps {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgb(244, 229, 255)),
        to(rgb(253, 239, 249))
    );
    background-image: linear-gradient(rgb(244, 229, 255), rgb(253, 239, 249));
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    margin-top: 80px;
    padding-left: 3%;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #ec38bc;
    border: 2px solid #ec38bc;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 7px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 45px;
    width: auto;
    margin-right: 10px;
}

/* ---------------------------------------------------------------------------------- */
/* CITIES */
/* ---------------------------------------------------------------------------------- */

/* IF YOU RUN INTO ISSUES WITH OTHER BOXES WITH DIFFERENT IMAGES */
/* .city-image {
    width: 100%;
    height: auto;
} */

.section-cities {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgb(253, 239, 249)),
        to(rgb(244, 229, 255))
    );
    background-image: linear-gradient(rgb(253, 239, 249), rgb(244, 229, 255));
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 7%;
}

.city-feature {
    margin-bottom: 5px;
}

/* ---------------------------------------------------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------------------------------------------------- */

.section-testimonials {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(3, 0, 15, 0.8)),
            to(rgba(3, 0, 15, 0.8))
        ),
        url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(3, 0, 15, 0.8), rgba(3, 0, 15, 0.8)),
        url(img/back-customers.jpg);
    background-size: cover;
    color: #fdeff9;
    background-attachment: fixed;
}

blockquote {
    margin-top: 50px;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote::before {
    display: block;
    content: '\201C';
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ---------------------------------------------------------------------------------- */
/* PRICING */
/* ---------------------------------------------------------------------------------- */

.section-plans {
    background-color: #03001e;
}

.section-plans h2 {
    color: #fdeff9;
}

.plan-box {
    background-color: #fdeff9;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;

    -webkit-box-shadow: 0 0 35px white;

    box-shadow: 0 0 35px white;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #03001e;
}

.plan-box div:nth-child(2) {
    font-size: 90%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div:first-child {
    background-color: #f8eaf4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #ec38bc;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 85%;
}

/* ---------------------------------------------------------------------------------- */
/* CONTACT */
/* ---------------------------------------------------------------------------------- */

.section-form {
    background-color: #f8f8f8;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
}

input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #03001e;
}

textarea {
    height: 100px;
}

input[type='checkbox'] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/* ---------------------------------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------------------------------- */

footer {
    background-color: #000005;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links a {
    font-size: 150%;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

footer li a:link,
footer li a:visited {
    text-decoration: none;
    border: none;
}

footer p {
    margin-top: 20px;
    color: #dc15a7;
    text-align: center;
}
